
<doctype HTML5>
<html>
<link rel="stylesheet" href="css/style.css">
<form method="post" action="/make_a_move">
<table id="board_table">
<tr> 
 <td><input class="all_squares" type="submit" value="<%=board.ttt_board[0]%>" onclick="play()" name="spot"> </td>
 <td class="middle"><input class="all_squares" type="submit" value="<%=board.ttt_board[1]%>" onclick="play()" name="spot"></td>
 <td><input class="all_squares" type="submit" value="<%=board.ttt_board[2]%>" onclick="play()" name="spot"> </td>

 </tr>
 <tr>

 <td class="sides"><input class="all_squares" type="submit" value="<%=board.ttt_board[3]%>" onclick="play()" name="spot"> </td>
 <td class="middle sides"><input class="all_squares" type="submit" value="<%=board.ttt_board[4]%>" onclick="play()" name="spot"> </td>
 <td class="sides"><input class="all_squares" type="submit" value="<%=board.ttt_board[5]%>" onclick="play()" name="spot"> </td>
 </tr>
<tr> 
 <td><input class="all_squares" type="submit" value="<%=board.ttt_board[6]%>" onclick="play()" name="spot"> </td>
 <td class="middle"><input class="all_squares" type="submit" value="<%=board.ttt_board[7]%>" onclick="play()" name="spot"></td>
 <td><input class="all_squares" type="submit" value="<%=board.ttt_board[8]%>" onclick="play()" name="spot"> </td>

 </tr>
 </table>
 </form>
 
  
<audio id="myAudio">
  <source src="https://freesound.org/people/aboe/sounds/68888/download/68888__aboe__scribsht7.wav">
  Your browser does not support the audio element.
</audio>


<script>
var x = document.getElementById("myAudio"); 

function play() { 
    x.play(); 
} 

</script>
</html>